/* fonts.css */

@font-face {
    font-family: 'Melon Pop';
    src: url('fonts/melon.woff2') format('woff2');
}

@font-face {
    font-family: 'Faith';
    src: url('fonts/faith.woff2') format('woff2');
}

@font-face {
    font-family: 'Comic Neue';
    src: url('fonts/comic.woff2') format('woff2');
}

@font-face {
    font-family: 'Giants';
    src: url('fonts/giants.woff2') format('woff2');
}

@font-face {
    font-family: 'Vehicle';
    src: url('fonts/vehicle.woff2') format('woff2');
}

@font-face {
    font-family: 'Broken';
    src: url('fonts/broken.woff2') format('woff2');
}
