

@font-face {
    font-family: 'Melon Pop';
    src: url('fonts/Melon Pop.woff2') format('woff2');
}

@font-face {
    font-family: 'Faith';
    src: url('fonts/faith.woff2') format('woff2');
}

@font-face {
    font-family: 'Comic Neue';
    src: url('fonts/ComicNeueSansID.woff2') format('woff2');
}

@font-face {
    font-family: 'Giants';
    src: url('fonts/Giants.woff2') format('woff2');
}

@font-face {
    font-family: 'Vehicle Breaks Down';
    src: url('fonts/VehicleBreaksDown-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Broken';
    src: url('fonts/Broken.woff2') format('woff2');
} 